body {
    display: flex;
    justify-content:center;
    background: rgb(188, 187, 187);
    height:100%;
}
.chatbot-container {
    width: 400px;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    position:absolute
  }
#chatbot {
    background-color: #f5f5f5;
    border: 1px solid #eef1f5;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  #header {
    width: 360px;
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(72, 203, 215);
    color: #ffffff;
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
  }
  .logo{
    width: 60px;
    height: 60px;
    margin-left: 10px;
  }
  .chatbot-name{
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  message-container {
    background: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
  }
  

  #conversation {
    height: 500px;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  @keyframes message-fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .optionDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
    gap:10px;
    grid-template-rows: 1fr 1fr;
    max-height: 300px;
  }
  .select-option{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f6f6ff ;
    color :rgb(72, 203, 215);
    border:solid rgb(72, 203, 215);
    min-height: 30px;
    border-width: 2px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
  }
  .select-option:hover{
    cursor: pointer;
    opacity: 30%;
  }
  .user-message {
    justify-content: flex-end;
  }
  .bot-message {
    justify-content: flex-start;
  }
  .step-Pictures{
    image-rendering: pixelated;
    max-width:370px;
    max-height: 200px;
  }
  .time-message{
    justify-content: center;
  }
  @keyframes textAnimate{
    from{
      transform: translatex(opx);
      transform: translatey(15px);
    }
    t0{
      transform: translatey(0px);
      transform: translatex(max-width);
    }
  }
  .message {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .message-text1{
    box-shadow: 0px 3px rgb(230, 228, 228);
    background-color:rgb(72, 203, 215);
    color: #fff;
    border-radius: 10px 0px 10px 10px ;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }
  .message-text {
    box-shadow: 0px 3px  rgb(218, 217, 217);
    background-color:white;
    color:rgb(72, 203, 215);
    border-radius: 0px 10px 10px 10px ;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }
  .time-box{
    display:flex;
    justify-content: center;
  }
  .time-text{
    box-shadow: 0px 3px rgb(230, 228, 228);
    color:  rgb(72, 203, 215 );
    background-color:#fff ;
    justify-content: center;
    border-radius: 10px 10px 10px 10px ;
    width: 50px;
    height: 15px;
  }
  #input-form {
    display: flex;
    align-items: center;
    border-top: 1px solid #eef1f5;
  }
  
  #input-field {
    flex: 1;
    height: 60px;
    border: 1px solid #eef1f5;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color 0.3s;
    background: #ffffff;
    color: #333333;
    border: none;
  }

  .send-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  #input-field:focus {
    border-color: #333333;
    outline: none;
  }
  
  #submit-button {
    background-color: transparent;
    border: none;
  }
  #chat-toggle {
    background-color:rgb(72, 203, 215);
    width: 70px;
    height: 60px;
    position: relative;
    float: right;
    border-radius: 20px 0px 20px 20px;
  }

  p[sentTime]:hover::after {    
    content: attr(sentTime);
    position: absolute;
    top: -3px;
    font-size: 14px;
    color: gray;
  }
  ::-webkit-scrollbar {
    display: none;
  }